* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('begron.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

/* Container utama */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Judul */
h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

/* Produk */
#product-list {
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Card produk */
.product {
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Gambar produk */
.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Tombol */
.product button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

/* Hover tombol */
.product button:hover {
    background-color: #0056b3;
}

/* Keranjang */
#cart {
    margin-top: 30px;
}

/* List keranjang */
#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
